.work-card-container {
	max-width: 100%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.work-card-image-container {
	height: 500px;
	max-width: 50%;
	overflow:  hidden;
	transform:  scale(1);
	transition:  transform 0.5s ease 0s;
	align-self: center;
	user-select:  none;
	cursor: pointer;
}

.work-card-image {
	width: 100%;
}

.work-card-image-container:hover {
	transform:  scale(1.1);
}

.work-card-title {

}

.work-card-subtitle {

}